{
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 80,
                "singleQuote": false,
                "explicitTypes": "always"
            }
        }
    ],
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "arrowParens": "always",
    "bracketSpacing": true,
    "function-paren-newline": "never"
}